* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    max-width: 60%;
}

hr {
    border: 1px solid black;
    width: 100%;
}

#lampboard, .selector {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

#lampboard > * {
    border: 2px solid black;
    padding: 0.5em;
    background-color: black;
    color: white;
    width: 2em;
    text-align: center;
}

.selector > * {
    border: 5px solid black;
    border-radius: 50%;
    padding: 0.5em;
    background-color: black;
    color: white;
    width: 3em;
    height: 3em;
    text-align: center;
}

.select_panel {
    display: flex;
}

.pair_select {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: 2px solid black;
    padding-left: 1em;
}

.pair_select > h3 {
    text-align: center;
}

#rotor_select, #activeRotorStatus {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rotor_option {
    display: flex;
    gap: 1em;
}

.rotor_display {
    display: flex;
    flex-wrap: wrap;
}

.rotor_display > * {
    border: 2px solid lightgray;
    padding: 0.5em;
    background-color: black;
    color: white;
    width: 2em;
    text-align: center;
}

#configs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#canType {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#canType > p {
    word-wrap: break-word;
    word-break: break-all;
}